body{background: #181818; position: relative;}
#particles{position: absolute; left: 0; right: 0; top: 0; bottom: 0; z-index: 0; overflow: hidden;}
.main{width: 1200px; margin: 0 auto; background-color: #f8f8f8; border-top: 3px solid #9D2932; padding: 0 12px 12px; position: relative; z-index: 1;}

.nav a,.nav span,.nav p{display: block; float: left; *display: inline; overflow: hidden;}
.nav a{padding: 0 26px; line-height: 59px; text-align: center; color: #666; font-size: 22px;}
.nav a:hover{color: #333; border-bottom: 1px solid #000}
.nav span{width: 8px; line-height: 60px; color: #c1c1c1; cursor: default;}
.nav p{line-height: 60px; font-size: 32px; padding-left: 32px; color: #f0f0f0; cursor: default;}
.nav p i{font-weight: bold; color: #e0e0e0;}
.nav p i.spark1{animation: spark 1.2s ease 0s infinite; -webkit-animation: spark 1.2s ease 0s infinite;}
.nav p i.spark2{animation: spark 1.2s ease 0.2s infinite; -webkit-animation: spark 1.2s ease 0.2s infinite;}
.nav p i.spark3{animation: spark 1.2s ease 0.4s infinite; -webkit-animation: spark 1.2s ease 0.4s infinite;}

@-webkit-keyframes spark{0%{opacity: 0;}100%{opacity: 1;}}
@-moz-keyframes spark{0%{opacity: 0;}100%{opacity: 1;}}
@-o-keyframes spark{0%{opacity: 0;}100%{opacity: 1;}}
@keyframes spark{0%{opacity: 0;}100%{opacity: 1;}}

#slogan{font-size: 64px; text-align: center; color: #ccc; padding: 100px 0; height: 200px; line-height: 150%; border-top: 1px solid #eee;}
.says h2{text-align: center; padding: 160px 0; border-top: 1px solid #eee;}

/*歌曲*/
#album {width: 144px; height: 60px; position: absolute; right: 0; top: 0; overflow: hidden;background: #8f8f8f;}
#prev-mic,
#play-mic,
#next-mic {width: 60px; height: 60px; position: absolute; top: 4px;cursor: pointer;}
#play-mic {background: url(../img/play-mic.png) no-repeat center center; right: 42px; z-index: 2;}
#play-mic.pause {background-image: url(../img/pause-mic.png);}
#next-mic {background: url(../img/next-mic.png) no-repeat center center; right: -10px;}
#prev-mic {background: url(../img/prev-mic.png) no-repeat center center; right: 94px;}
#tip-mic {width: 18px; height: 16px;background: #8f8f8f url(../img/wave.gif) no-repeat 4px center; position: absolute; left: 0; top: 0; display: none;}
#now-mic {position: absolute; left: 100%; top: 0; font-size: 12px; color: #fff; white-space: nowrap;}
#now-mic.marq {animation: marq 10s linear 0s infinite;}
#line-mic {width: 0;height: 0; border-top: 3px solid #fee31a; position: absolute; left: 0; bottom: 0;}
@keyframes marq {
    0% {
        left: 100%;
    }
    100% {
        left: -100%;
    }
}

#resume{padding: 20px 0; border-top: 1px solid #eee; background-color: #fff;}
#resume .code-slogan {height: 380px; background: url(../img/text.png) no-repeat center 120px; text-indent: -9999em;}
#resume .section{padding-bottom: 40px; border-bottom: 1px solid #e0e0e0;}
#resume .project{width: 1200px; overflow: hidden;}
#resume .project li{width: 340px; float: left; overflow: hidden; margin: 0 30px 60px; *display: inline; *zoom: 1;}
#resume .project li a{display: block; width: 100%; overflow: hidden; position: relative; color: #606060; font-size: 14px;}
#resume .project li a:hover {opacity: 0.95;}
#resume .project li .project-img {padding: 0 15px 15px; position: relative; overflow: hidden;}
#resume .project li .project-img img {width: 310px; display: block; position: relative; z-index: 2;border-radius: 4px;}
#resume .project li .project-img:before {
    content: '';
    background: rgba(29, 29, 29, 0.8);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 200px;
    z-index: 1;
}
#resume .project li .project-img:after {
    content: '';
    background: rgba(33, 33, 33, 0.8);
    position: absolute;
    left: 0;
    right: 0;
    bottom: -20px;
    height: 100px;
    top: auto;
    z-index: 3;
}
#resume .project li .project-name {
    font-size: 18px;
    color: #000;
    margin: 18px 0 10px;
}
#resume .project li .project-tag {
    margin-bottom: 10px;
}
#resume .project li .project-author {
    font-size: 12px;
}
#resume .project li .project-time {
    position: absolute;
    right: 0;
    bottom: 0;
}