body{background: #fff; position: relative;}
#particles{position: absolute; left: 0; right: 0; top: 0; bottom: 0; z-index: 0; overflow: hidden;}
.main{width: 1000px; margin: 0 auto; background-color: #f8f8f8; border-top: 3px solid #9D2932; padding: 0 12px; position: relative; z-index: 1;}

.nav a,.nav span,.nav p{display: block; float: left; *display: inline; overflow: hidden;}
.nav a{padding: 0 26px; line-height: 59px; text-align: center; color: #666; font-size: 22px;}
.nav a:hover{color: #333; border-bottom: 1px solid #000}
.nav span{width: 8px; line-height: 60px; color: #c1c1c1; cursor: default;}
.nav p{line-height: 60px; font-size: 32px; padding-left: 32px; color: #f2f2f2; cursor: default;}
.nav p i{font-weight: bold; color: #e0e0e0;}
.nav p i.spark1{animation: spark 1.2s ease 0s infinite; -webkit-animation: spark 1.2s ease 0s infinite;}
.nav p i.spark2{animation: spark 1.2s ease 0.2s infinite; -webkit-animation: spark 1.2s ease 0.2s infinite;}
.nav p i.spark3{animation: spark 1.2s ease 0.4s infinite; -webkit-animation: spark 1.2s ease 0.4s infinite;}

@-webkit-keyframes spark{0%{opacity: 0;}100%{opacity: 1;}}
@-moz-keyframes spark{0%{opacity: 0;}100%{opacity: 1;}}
@-o-keyframes spark{0%{opacity: 0;}100%{opacity: 1;}}
@keyframes spark{0%{opacity: 0;}100%{opacity: 1;}}

#slogan{font-size: 64px; text-align: center; color: #ccc; padding: 100px 0; height: 200px; line-height: 150%; border-top: 1px solid #eee;}
.says h2{text-align: center; padding: 90px 0; border-top: 1px solid #eee;}

/*歌曲*/
#album {width: 102px; height: 102px; position: fixed; right: 0; top: 50%; margin-top: -50px; z-index: 100;}
#mic-ctrl {width: 100px; height: 100px; position: absolute; right: 0; top: 0; border: 1px solid #ce3b4d; background: #e5e5e5 url(../img/play.gif) no-repeat 0 0; z-index: 99;}
#mic-list {width: 200px; height: 100px; position: absolute; right: -100px; top: 0; border: 1px solid #ce3b4d; background-color: #e5e5e5; overflow-x: hidden; z-index: 10; -webkit-transition: right ease .2s; transition: right ease .2s;}
#mic-list a {display: block; height: 33px; line-height: 33px; text-align: center; color: #404040; border-bottom: 1px solid #999; cursor: pointer;}
#mic-list a:hover {background-color: #999;}

#resume{padding: 20px; border-top: 1px solid #eee; background-color: #f0f0f0;}
#resume .section{padding-bottom: 40px; border-bottom: 1px solid #e0e0e0;}
#resume .section-header{font-size: 32px; padding: 40px 0 40px 70px; color: #282828; background: url(../img/item.png) no-repeat 10px center;}
#resume .section-header b{color: #9D2932; font-size: 36px; font-weight:500;}
#resume .skill{width: 960px; overflow: hidden;}
#resume .skill li{width: 111px; height: 142px; float: left; position: relative; overflow: hidden; *display: inline; *zoom:1 ; margin: 0 24px;}
#resume .skill li span{width: 111px; position: absolute; left: 0; bottom: 0; height: 0; transition: all .6s cubic-bezier(.19,1,.22,1); -webkit-transition: all .6s cubic-bezier(.19,1,.22,1); text-indent: -9999em;}
#resume .skill-html{background: url(../img/html-bg.png) no-repeat;}
#resume .skill-html span{background: url(../img/html.png) no-repeat left bottom;}
#resume .skill-html:hover span{height: 90%;}
#resume .skill-css{background: url(../img/css-bg.png) no-repeat;}
#resume .skill-css span{background: url(../img/css.png) no-repeat left bottom;}
#resume .skill-css:hover span{height: 90%;}
#resume .skill-js{background: url(../img/js-bg.png) no-repeat;}
#resume .skill-js span{background: url(../img/js.png) no-repeat left bottom;}
#resume .skill-js:hover span{height: 80%;}
#resume .skill-jquery{background: url(../img/jquery-bg.png) no-repeat;}
#resume .skill-jquery span{background: url(../img/jquery.png) no-repeat left bottom;}
#resume .skill-jquery:hover span{height: 85%;}
#resume .skill-php{background: url(../img/php-bg.png) no-repeat;}
#resume .skill-php span{background: url(../img/php.png) no-repeat left bottom;}
#resume .skill-php:hover span{height: 60%;}
#resume .skill-ps{background: url(../img/ps-bg.png) no-repeat;}
#resume .skill-ps span{background: url(../img/ps.png) no-repeat left bottom;}
#resume .skill-ps:hover span{height: 65%;}
#resume .school{padding: 0 24px;}
#resume .school li{height: 95px; padding-left: 96px; position: relative; background-color: #e4e4e4; margin-bottom: 20px; transition: all .6s cubic-bezier(.19,1,.22,1); -webkit-transition: all .6s cubic-bezier(.19,1,.22,1);}
#resume .school li:hover{box-shadow: 0 0 9px #ccc;}
#resume .school li img{position: absolute; left: 0; top: 0; border-right: 1px solid #9D2932;}
#resume .school li p{height: 100%; overflow: hidden; padding: 12px 0 0 20px; line-height: 150%; color: #666;}
#resume .school li p b{font-size: 16px;}
#resume .company{padding: 0 24px;}
#resume .company li{margin-bottom: 40px; padding-bottom: 20px; border-bottom: 1px solid #282828;}
#resume .company li h3{font-size: 18px; color: #383838; padding-bottom: 14px;}
#resume .company li h3 b{font-size: 20px;}
#resume .company li h3 i.on-line{font-size: 18px; color: #39aa44;}
#resume .company li h3 i.off-line{font-size: 18px; color: #9D2932;}
#resume .company li p{font-size: 16px; color: #808080; line-height: 150%;}
#resume .project{width: 960px; overflow: hidden;}
#resume .project li{width: 300px; height: 220px; float: left; overflow: hidden; margin: 9px; *display: inline; *zoom: 1; border: 1px solid #e1e4e8; background: #f9f9f9 url(../img/loading.gif) no-repeat center 48px;}
#resume .project li a{display: block; width: 300px; height: 136px; overflow: hidden; position: relative;}
#resume .project li a i{ position: absolute; left: 0; top: 132px; height: 3px; width: 0; border-top: 1px solid #ccc; background-color: #9D2932; transition: all .4s; -webkit-transition: all .4s;}
#resume .project li a:hover i{width: 100%;}
#resume .project li h4{color: #282828; font-size: 14px; font-weight: 600px; padding: 8px 0 6px 10px;}
#resume .project li p{font-size: 12px; padding: 0 10px; color: #888;}
#resume .project li .tip{display: block; line-height: 220px; text-align: center; font-size: 36px; color: #ccc; font-weight: bold; background-color: #f9f9f9;}
