a,b,body,button,blockquote,canvas,dd,div,dl,dt,em,fieldset,form,footer,frame,frameset,h1,h2,h3,h4,h5,h6,header,i,iframe,img,input,label,li,main,nav,ol,optgroup,p,pre,section,select,span,strong,table,tr,thead,th,tbody,td,textarea,ul,video{margin:0;padding:0}
html{font-family:"Microsoft Yahei","Helvetica Neue",Helvetica,STHeiTi,Arial,sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:transparent}
body{font-size:.14rem;overflow-x:hidden;-webkit-overflow-scrolling:touch}
a{background-color:transparent;text-decoration:none;-webkit-text-decoration-skip:objects;outline:none}
a:hover,a:active{outline-width:0}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
em,strong,th,i,b{font-style:normal;font-weight:normal}
table{border-collapse:collapse;border-spacing:0}
ol,ul,li{list-style:none outside none}
fieldset,img{border:0}
button,input{-webkit-appearance:none;line-height:normal;border:0;outline:0;border-radius:0}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{color:#ccc}
input:-ms-input-placeholder,textarea:-ms-input-placeholder{color:#ccc}
input::-moz-placeholder,textarea::-moz-placeholder{color:#ccc}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {-webkit-appearance: none}
input[type="number"]{-moz-appearance: textfield}
.vbody{max-width:750px;min-height:100vh;margin:0 auto;overflow:hidden;position:relative}
.hbody{max-width:1334px;min-height:100vh;margin:0 auto;overflow:hidden;position:relative}